div.mini-cart-item {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 5px;
    div.mini-cart-img {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 80px;
        }
    }
}