
.is-select {
    background-color: #e6e6e6;
}

div.card-chat-user {
    width: 100%;
    margin-left: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    div.card-chat-user-left {

    }
    div.card-chat-user-right {
        p.customer-name {
            font-weight: bold;
            margin-left: 10px;
        }
        p.last-message {
            margin-left: 10px;
            margin-top: 5px;
            color: #737373;
        }
    }
}