div.chat {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    div.chat-left {
        width: 100%;
        height: 590px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        overflow-y: scroll;
    }
    div.chat-right {
        width: 100%;
        height: 590px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        overflow-y: scroll;
        div.chat-right-main {
            width: 90%;
            margin: 0 auto;
            height: 100px;
        }
    }
    div.chat-input {
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        height: 40px;
        margin-top: 10px;
    }
    .input-message {
        height: 40px;
        width: 95%;
        border: 2px solid #cccccc;
        border-radius: 5px;
        outline: none;
        
    }
}