div.shop-profile {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    div.shop-profile-stats {
        width: 100%;
        height: 200px;
        box-shadow: 10px 10px 15px #e6ccff;
        border-radius: 10px;
    }
    div.shop-profile-stats-left {
        padding-top: 35px;
    }
}

div.shop-stats {
    margin-left: 50px;
    line-height: 65px;
}
