div.card-category {
    div.card-category-img {
        width: 300px;
         height: 320px;
        img {
            width: 100%;
        }
    }
    box-shadow: 15px 15px 20px #e6ccff;
    border-radius: 10px;
}