div.product-rate {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 15px 15px 20px #bfbfbf;
    border-radius: 10px;
    div.user-rate {
        margin-top: 40px;
    }
    
    
}

