div.products-sale {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    div.pagination {
       width: 90%;
       margin: 0 auto;
       margin-top: 50px;
    }
}
div.nav-category {
    box-shadow: 10px 10px 20px #e6e6e6;
    border-radius: 5px;
    
}
.margin-0-auto {
    margin: 0 auto;
}