div.mini-card-notification {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    div.mini-card-notification-img {
        width: 90%;
        height: 80px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}