
$btn-color: #884dff;
$txt-color: #884dff;





.btn-color {
    background: #884dff;
}
.line {
    width: 400px;
    height: 5px;
    background: #884dff;
}

.mgl-25 {
    margin-left: 25px;
}
.mgl-40 {
    margin-left: 40px;
}
.mgt-10 {
    margin-top: 10px;
}
.mgt-20 {
    margin-top: 20px;
}
.mgt-40 {
    margin-top: 40px;
}
.mgb-40 {
    margin-bottom: 40px;
}
.icon {
    font-size: 25px;
    color: red;
}
.cs-pointer {
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.text-color {
    color: #884dff;
}
.mgl-10 {
    margin-left: 10px;
}
.txt-btn-color {
    color: white;
}
.txt-red {
    color: red;
}
.txt-bold {
    font-weight: bold;
}
.btn-danger {
    background: #ff4d4d;
}
.box-shadow {
    box-shadow: 10px 10px 15px #e6ccff;
}
.position-rl {
    position: relative;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
