.home-category-list {
    .category__header {
        align-items: center;
        height: 60px;
        border-bottom: 1px rgba(0, 0, 0, 0.54) solid;

        .category__header__title {
         
        }
    }

    .category-item {
        height: 150px;

        color: rgba(0, 0, 0, 0.87);
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        cursor: pointer;

        &:hover {
            transform: translateZ(0);
            z-index: 1;
            border-color: rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
        }
    }
    .category-item__img {
        height: 70%;
    }
    .category-item__name {
        text-align: center;
        margin-bottom: 10px;
    }
}
