div.forbidden {
    width: 90%;
    margin: 0 auto;
    div.img-forbidden {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
    div.btn-redirect {
        width: 30%;
        margin: 0 auto;
        margin-top: 20px;
    }
}