div.home {
    width: 100%;
    section.section1 {
        margin-top: 70px;
        width: 100%;
    }
    section.section2 {
        margin-top: 50px;
        width: 100%;
        div.product-promotion {
            width: 95%;
            margin: 0 auto;
        }
    }
}