div.total-rate {
    width:  95%;
    margin: 0 auto;
    height: 180px;
    
    margin-top: 10px;
    div.total-rate__margin {
        width: 90%;
        margin: 0 auto;
        // margin: 0 20px;
        padding-top: 50px;
    }
}