div.total-rate {
    width:  95%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    div.total-rate__margin {
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
    }
    div.input-review {
        width: 90%;
        margin: 0 auto;
    }
}