div.product-detail {
    width: 90%;
    // min-height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px #bfbfbf;
    border-radius: 10px;
    img {
        width: 100%;
        height: 450px;
    }
    .group-add {
        margin-top: 50px;
    }
}
.mgl-25{
    margin-left: 25px;
}
.mgl-40 {
    margin-left: 40px;
}
.mgt-10 {
    margin-top: 10px;
}
.mgt-20 {
    margin-top: 20px;
}
.mgt-40 {
    margin-top: 40px;
}
.mgb-40 {
    margin-bottom: 40px;
}
.icon {
    font-size: 25px;
    color: red;
}
.cs-pointer {
    cursor: pointer;
}
.shop-infomation {
    width: 100%;
    background-color: red;
    height: 100px;
}
.min-height {
    min-height: 500px;
}
div.avt-shop {
    width: 90px;
    height: 90px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        margin-top: 18px;
    }
}

div.shop-info {
    width: 90%;
    margin: 0 auto;
    box-shadow: 15px 15px 20px #bfbfbf;
    border-radius: 10px;
    height: 120px;
}
@media screen and (max-width: 1000px) {

}