div.product-detail {
    width: 90%;
    // min-height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px #bfbfbf;
    border-radius: 10px;
    img {
        width: 100%;
        height: 450px;
    }
    .group-add {
        margin-top: 50px;
    }
}

// .shop-infomation {
//     width: 100%;
//     background-color: red;
//     height: 100px;
// }
.min-height {
    min-height: 500px;
}

div.product-detail-father {
    position: relative;
}
div.message {
    position: fixed;
    width: 25%;
    height: 420px;
    bottom: 30px;
    right: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #cccccc;
    background: #ffffff;
    div.message-input {
    }
}
div.message-content {
    width: 100%;
    height: 330px;
    margin-top: 20px;
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .is-visible {
    opacity: 1;
  }



