div.admin-user {
    width: 100%;
    height: auto;
    background: #f2f2f2;
    
    div.admin-user__w-90 {
        width: 95%;
        margin: 0 auto;
        div.admin-user-stats {
            margin: 0 auto;
            padding-top: 50px;
        }
        div.admin-user-chart {
            width: 74%;
            margin: 0 auto;
            margin-top: 50px;
            height: 400px;
            background: white;
            border-radius: 10px;
        }
        div.data-table {
            margin-top: 50px;
            border-radius: 10px;
        }
    }
}