div.register-seller {
    width: 90%;
    margin: 0 auto;
    height: auto;
    box-shadow: 0px 15px 20px 0px #d9d9d9,
    0px -15px 20px 0px #d9d9d9;;
    margin-top: 40px;
    border-radius: 10px;
    div.register-seller__center {
        width: 90%;
        margin: 0 auto;
        h2 {
            padding-top: 40px;
        }
        p {
            margin-top: 20px;
            line-height: 30px;
        }
    }
}