div.login {
    width: 100%;
    div.err-response {
        
    }
    div.form-login {
        width: 80%;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 10px 10px 20px #eeccff;
        border-radius: 10px;
    }
}
.mgb-60 {
    margin-bottom: 60px;
}
.mg-lr {
    margin: 0 20px;
}