div.login {
    width: 100%;
    div.err-response {
        
    }
    div.form-login {
        width: 80%;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        background: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
    }
}
.mgb-60 {
    margin-bottom: 60px;
}
.mg-lr {
    margin: 0 20px;
}